.container {
    width: 100%;
    height: 50vh;
    color: rgb(68, 67, 67);
    font-size: 2rem;
    transition: 300ms ease-in-out;
    text-align: center;
}

.btn {
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    line-height: 60px;
    height: 60px;
    min-width:  60px;
    border-radius: 50%;    
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: tomato;
    color: white;
    position: fixed;
    &:hover {
        opacity: 0.9;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}
.yes {
    background-color: rgba(120, 43, 192, 0.884);
}
.maybe {
    line-height: 60px;
    height: 60px;
    border-radius: 60px;
    width: 200px;
    background-color: #4285F4;
}
.no {
    bottom: 3px;
    z-index: 1;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ok {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.986);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.capture {
    position: fixed;
    font-size: 0.7rem;
    bottom: 20px;
    right: 5px;
    z-index: 4;
    padding: 10px;
    background-color: transparent;
    color: tomato;
}
.playing {
    position: fixed;
    font-size: 1.3rem;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: transparent;
    background-color: tomato;
    color: white;
    letter-spacing: 1px;
    font-weight: 800;
    padding: 0 2rem;
    line-height: 50px;
    border-radius: 50px;
    margin: 2rem;
}
.retry {
    transition: 300ms ease-in-out;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    font-size: 2rem;
    cursor: pointer;
    color: tomato;
    &:hover {
        transform: scale(1.1);
    }
}
@media (max-width: 600px) {
    .container {
        font-size: 1.4rem;
        padding-top: 4rem;
        height: fit-content;
    }
    .ok {
        font-size: 1.3rem;
    }

    .playing {
        position: fixed;
        font-size: 1rem;
        background-color: transparent;
        background-color: tomato;
        color: white;
        letter-spacing: 1px;
        font-weight: 600;
        padding: 0 2rem;
        line-height: 50px;
        border-radius: 50px;
        margin: 2rem;
        width: 100%;
        text-align: center;
    }
}
